<!DOCTYPE html>
<html lang="en">
<head>
    {% include './app-meta.html' %}

    <link href="/dist/css/bundle.css" rel="stylesheet">
    <link href="/dist/css/fonts.css" rel="stylesheet">
    <link href="/dist/fonts/sourcesanspro-it.woff2" rel="preload">
    <link href="/dist/fonts/sourcesanspro-light.woff2" rel="preload">
    <link href="/dist/fonts/sourcesanspro-lightit.woff2" rel="preload">
    <link href="/dist/fonts/sourcesanspro-regular.woff2" rel="preload">

    <script src="/assets/js/vendor/jquery.min.js" defer></script>
    <script src="/dist/js/bundle.js" defer></script>
    <script src="/dist/js/fontfaceobserver.js"></script>
    <script>
        var italic, regular, regularBold, italicBold;
        var html = document.documentElement;

        if (!sessionStorage.fontsLoaded) {
            italic = new FontFaceObserver('source_sans_pro', {
                weight: 300,
                style: 'italic'
            });

            regular = new FontFaceObserver('source_sans_pro', {
                weight: 300,
                style: 'normal'
            });

            regularBold = new FontFaceObserver('source_sans_pro', {
                weight: 400,
                style: 'normal'
            });

            italicBold = new FontFaceObserver('source_sans_pro', {
                weight: 400,
                style: 'italic'
            });

            Promise.all([
                italic.load(), regular.load(), regularBold.load(), italicBold.load()
            ]).then(function () {
                html.className += ' fonts-loaded';
                sessionStorage.fontsLoaded = true;
            });
        } else {
            html.className += ' fonts-loaded';
        }

    </script>
    {% block head_extra %}{% endblock %}
</head>

<body {% block body_attributes %}{% endblock %}>

    {% block body %}{% endblock %}

    {% block scripts_extra %}{% endblock %}

</body>
</html>
